*~
*.lo
*.mode1v3
*.o
*.pbxuser
.DS_Store
.deps
.dirstamp
/ABOUT-NLS
/INSTALL
/Makefile
/Makefile.in
/autoscan.log
/build/
/build-aux/git-package-version
/configure.scan
/libtool
/rackgnome-*.tar.*
/rackgnome-*.zip
a.out
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
stamp-h1
xcuserdata
